
.head {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    filter: brightness(80%);
}
.menu-header{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.Menu-logo{
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 200%;

}
body {
    margin: 0;
    padding: 0;
    box-shadow: inset -100px 0 50px -50px rgba(0,0,0,0.5),
                inset 100px 0 50px -50px rgba(0,0,0,0.5);
}
.my-line {
    border: black;
    border-radius: 30%;
    height: 3px;
    background-color: #ffffff;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}
.top-line{
background-color: black;
display: flex;
    padding-top: 1px;
    padding-bottom: 1px;
}
@media screen and (max-width: 1220px) {
    .head {
        display: flex;
        flex-direction: column;
    }
    .navigation-panel {
        margin-top: 20px;
        position: relative;
        top: 50px;
    }
    .logo {
        width: 100%;
        text-align: center;
    }
    .logo img {
        display: none;
    }
}
.navigation-panel{
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 1%;
}
img {
    width: 8%;
    color: crimson;
}

.logo {
    display: flex;
    margin-left: 1%;
}

.logotext {
    margin-top: 7%;
}

.header-line {
    padding-top: 2px;
    padding-left: 130px;
    margin-left: -80px;
    display: flex;
    align-items: center;
    background: black;
    background-size: cover;
    width: 100%;
}

.navbar-nav {
    color: white;
    margin-right: 90px;
    display: flex;
    justify-content: flex-end;
}

.navbar-toggler-icon {
    background-image: url('navbar-toggler-icon.svg');
    background-size: cover;
}
.Main-menu{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    margin-right: 20px;
    border-right: 1px solid white;
    padding-right: 20px;
    font-family: 'Montserrat', sans-serif;
}
.Main-menu:hover{
    color: crimson;
}
html {
    scroll-behavior: smooth;
}
.Prod{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-right: 20px;
    border-right: 1px solid white;
    padding-right: 20px;
}
.Prod:hover{
    color: crimson;
}
.Tg{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    margin-right: 40px;
    font-family: 'Montserrat', sans-serif;
    display: inline;
    white-space: nowrap;
    border-right: 1px solid white;
    padding-right: 20px;
}
.Tg:hover{
    color: crimson;
}
.num{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-left: -20px;
}
.num:hover{
    color: crimson;
}
.title, .title2 {
    font-size: 50px;
    display: inline-block;
    margin-left: 15px;
}
.title{
    color: red;
}
.title2{
    color: white;
}
.main{
    text-align: center;
}

@media only screen and (max-width: 768px) {
    /* Изменяем высоту блока .head */
    .head {
        height: auto;
        min-height: 100vh;
    }
    /* Изменяем размер логотипа */
    img {
        width: 100%;
        max-width: 80px;
    }
    /* Изменяем отступы для .navigation-panel */
    .navigation-panel {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 0;
    }
    /* Изменяем стили для .Main-menu и .Prod */
    .Main-menu, .Prod {
        font-size: 16px;
        margin-right: 10px;
        padding-right: 10px;
    }
}



.low-title, .low-subtitle{
    text-align: right;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
}
.knopka{
    align-items: center;
    padding-top: 5%;

}
.btn-black:hover{
    background-color: black;
    color: white;
}
.btn-black {
    background-color: #a42800;
    color: white;
}
.btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f00;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 200%;
    text-transform: uppercase;
}
.space{
}

.menu {
    display: flex;
    flex-wrap: wrap;
}

.menu-item {
    perspective: 1000px;
    transform-style: preserve-3d;
    width: 200px;
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
    flex-basis: 300px;
    max-width: 100%;
    height: 450px;
    background-color: whitesmoke;
    margin: 15px;
    transition: transform 0.3s ease;
    position: relative;


}
.menu-item:hover {
    transform: scale(1.1);
}
.menu-item img {
    max-width: 100%;
    max-height: 100%;
}

.menu-item h3 {
    font-size: 20px;
}

.menu-item p {
    font-size: 14px;
    margin-top: 5px;
}

.menu-item .price {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.menu-item button {
    display: block;
    align-items: center;
    margin: 0 auto;
}


.flip-container {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.flipper {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.back-face {
    transform: rotateY(180deg);
}

.flip {
    transform: rotateY(180deg);
}


.line {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}


@media (max-width: 768px) {
}
.img-proj{
    width: 100%;
    max-width: 300px;
}



.knopka, .low-title {
    display: inline-block;
}

.container {
    background-image: url(wall6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.2); /* 50% черный цвет */
    background-blend-mode: multiply;

}
.container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.lowest{
    background-color: black;
}
.fontLowest{
    color: whitesmoke;
}
.back-face{
    background-color: whitesmoke;
}
.openClose{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.openKnopka{
    margin-top: 50px;
    padding-top: 10px;
    width: 100px;
}