body{
    margin: 0;
}
img{
    margin-left: 20px;
    width: 7%;
    height: 7%;
    color: crimson;
}
.container{
    margin: 0 50px;
}
.head{
    background-image: url(bg.jpg);
    background-size: cover;
    height: 100vh;
    filter: brightness(80%);
    background-repeat: no-repeat;
}
.navigation-panel{
    color: white;
}
.header-line{
        margin: 0 5px;
        padding-top: 20px;
        display: flex;
        align-items: center;
        background: black;
}
.Main-menu{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    margin-right: 20px;
    border-right: 1px solid white;
    padding-right: 20px;
}
.Main-menu:hover{
    color: crimson;
}
.Prod{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;

    margin-right: 20px;
    border-right: 1px solid white;
    padding-right: 20px;
}
.Prod:hover{
    color: crimson;
}
.Tg{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    margin-right: 40px;
}
.Tg:hover{
    color: crimson;
}
.num{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
}
.num:hover{
    color: crimson;
}
.title, .title2 {
    font-size: 50px;
    display: inline-block;
    margin-left: 15px;
}
.title{
    color: red;
}
.title2{
    color: white;
}
.main{
 text-align: center;
}
